/****** General ***********//**/
* {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

:root {/*cible laracine du document*/
    --main-color: #0065FC;/*stock des valeurs réutilisables*/
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);/*Définit la couleur du texte exemple la couleur principal définit dans root */
}

.div-booki {
    display: flex;/*utilisation de la flex afin de disposer nos élément de façon flexible*/
    width: 161px;/*longeur de notre contenu*//*définit la largeur*/
    height: 79px;/*hauteur de l'élément*//*définit la hauteur d'un élément*/
    padding: 30px 50px 0px 0px;/*espacement des bordure de chaque coté*//*espace intérieur entre le contenu et la bordure*/
}

img.img-booki {/*icone du site*/
    width: 61px;
    height: 19px;
}

nav {/*barre de navigation qui contient hébergement etc*/
    display: flex;
    justify-content: space-between;/*répartition de l'espace entre les éléments*//*Aligne les éléments sur l'axe principal*/
    align-items: center;/*alignement des éléments sur l'axe*//*Aligne les éléments sur l’axe secondaire*/
}

#menu{/*style de la liste contenu dans la nav*/
    display: flex;
    gap: 68px;/*définis l'espacement*//*définit l'espace entre les éléments flex ou grid*/
    list-style: none;/*définition de l'apparence de notre liste(aucune car pas de puces voulu)*/
}

.button-menu a {/*bouton du menu*/
    text-decoration: none;/*sert à styliser le text (aucun actuellement)*//*Ajoute ou retire un soulignement,barré etc*/
    color: black;/*donne la coloration du text*/
    padding: 20px 0; /* espace vertical */
    position: relative;/*donne la position de l'élément dans la page*/
}
/**/
.button-menu a:hover { /*changement de couleurs uniquement du texte au passage de la souris*//*pseudo classe activé au survol*/
    color: #0065FC;
}

.button-menu a:hover::before { /*création de la petite barre bleu au dessus au passage de la souris*/
    content: "";/*crée une barre*/
    position: absolute;/*positionnement de la barre*//*définit comment un élément est positionné*/
    top: 0;/*la positionne en haut comme voulu*/
    width: 100%;
    height: 2px;
    background-color: #0065FC;/*Définit la couleur d’arrière-plan d’un élément exemple ici définition de la couleurs de la barre*/
}

.header{
    padding: 0;
}

.search-bar{/*barre de recherche*/
    display: flex;
    align-items: center;/*alignement*/
    width: 100%;/*taille de l'objet*/
    max-width: 420px;/*taille max*/
    height: 50px;
    border-radius: 15px;/*coin arrondi*/
    overflow: hidden;/*cacher le dépassement*/
    background-color: #F2F2F2;/*fond grid*/
}

.search-icon{/*icon  de la barre de recherche*/
    display: flex;
    align-items: center;/*alignement*/
    justify-content: center;/*alignement par rapport a l'axe principal*/
    width: 50px;
    height: 100%;
    background-color: #F2F2F2;
}

.search-input{/*barre de recherche*/
    flex: 1;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.search-input input{/*zone de texte de la barre de recherche*/
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
    background: white;
}

.search-button{/*bouton rechercher de la barre de recherche*/
    background-color: #0065FC;
    color: white;
    border: none;
    height: 100%;
    padding: 0 20px;
    font-weight: 600;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-icon i{/*icone de la barre de recheche*/
    color: black;
    font-size: 16px;
}

.btn-icon {/*loupe de la barre de recherche*/
    display: none;/*cache la loupe sur PC*/
}

.search-button .fa-solid {/*couleur de la loupe*/
    color: white;
}

section.Filtres {/*barre de filtres*/
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
 
button.button-filtres {/*bouton filtres*/
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 25px;
    background: white;
    border-color: #d9d9d9;
    cursor: pointer;
}

.button-filtres:hover {/*couleurs des boutons au survol*/
    background-color: #DEEBFF;
}

.div-filtres {/*zone entière des boutons*/
    display: flex;
    gap: 15px;
}

.cercle {/*icone i pour information*/
  display: flex;            
  align-items: center;
  justify-content: center;
  width: 24px;                     
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  font-size: 12px;          
}

.cercle i {/*couleurs du i dans le cercle*/
    color: #0065FC;
}

.info {/*zone de texte de la partie info*/
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}



.main-container {/*page entière*/
    width: 100%;
    max-width: 1440px;/*définit la largeur maximale autorisée*/
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;/*définit comment width et height sont calculées content-box par défaut border-box inculut padding et border*/
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {/*carte*/
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergements {/*carte hébergements à l'unité*/
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergements img {/*image carte hébergements*/
    object-fit: cover;/*définit comment une image s'adapte dans son conteneur*/
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards {/*zone des cartes hébergement*/
    display: grid;/*dispose les élément en lignes et en colonnes*/
    grid-template-columns: repeat(3,1fr);/*définit le nombre et la taille des colonnes*/
    gap: 15px;
}

.hebergements .card-content {
    padding: 0px 15px 8px 15px;
}

.card img {/*comportement de l'image carte*/
    object-fit: cover;
}

.card-title {/*comportement titre carte*/
    font-size: 16px;
}

.euro {/*logo euro dans les cartes*/
    font-weight: 700;
}

.neutral-star {/*les étoiles dans les cartes*/
    color: var(--main-bg-color)
}

.afficher-plus {/*afficher plus dans la zone hébergements*/
    font-weight: 700;/*définit l'épaisseur du texte normal*/
    font-size: 18px;
    cursor: pointer;/*change le curseur exemple ici en pointer*/
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {/*comportement de hebergements et populaire (div entière)*/
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {/*section*/
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 15px 30px;
    box-sizing: border-box;
}

.hebergements {
    width: 65%;
}

.populaires {/*div populaire*/
    width: 32%;
}

.populaires-title {/*titre populaire*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {/*carte de la zone populaires*/
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {/*image carte populaire*/
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {/*ce que contient la carte populaire*/
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;/*définit l'axe principal ici en colonne*/
    justify-content: space-between;
    box-sizing: border-box;/*change le modèle de calcul des dimensions*/
}

.populaires-cards .card-title {/*titre de la carte*/
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {/*sous titre de la carte*/
    margin: 0;
}

.populaires-cards .card-rating {/*notation de la carte*/
    margin-bottom: 5px;
}

.Activités-cards{/*div activité*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.card-Activités{/*carte activité*/
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));/*applique des effets graphiques par exemple ici une ombre*/
}

.card-Activités img{/*image activité*/
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card-Activités .card-content{/*zone du texte*/
    padding: 15px;
}

.card-Activités .card-title{/*titre de la carte*/
    margin: 0;
    font-size: 16px;
}

.footer{/*bas de page*/
    background-color: var(--main-bg-color);
    padding: 10px 30px;
    margin-top: 50px;
}

.footer-container{/*ce que contient le footer*/
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-column h3{/*titre des colonnes*/
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-column ul{/*liste du footer*/
    list-style: none;/*féfinit l'apparence des puces d'une liste exemple ici elles sont retiré*/
    padding: 0;
    margin: 0;
}

.footer-column li{/*chaque élément de la liste*/
    margin-bottom: 10px;
}

.footer-column a:hover{/*passage de la souris sur les élément de la liste*/
    text-decoration: underline;
}

#activites{
    margin-top: 50px;
}

#hebergements{
    margin-top: 15px;
    padding: 0px 30px;
}

#populaires{
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

.hebergements-and-populaires {
    flex-direction: column;
    gap: 50px;
}

.search-bar{
    width: 377px;
}

.search-input{
    flex: 1;
    min-width: 0;
}

section.Filtres{
    display:block;
}

.hebergements,
.populaires{
    width: 100%;
}

.populaires-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.Activités-cards{
    align-items: stretch;
    gap: 30px;
}

.card-Activités{
    height: 100%;
}

.card-Activités img{
    height: 200px;
}

.card-Activités .card-content{
    min-height: 60px;
    display: flex;
    align-items: center;
}



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {/*permet d'appliquer du css selon la taille d'écran*/

.main-container{
    padding: 0 20px;
}

    
nav{/*barre nav qui change*/
    flex-direction: column;/*se met en colonne*/
    align-items: center;   
    gap: 15px;
    padding-bottom: 10px;
}

#menu{
    display: flex;
    width: 100%;
    padding: 0;
}

#menu li{
    flex: 1;
    text-align: center;
    position: relative;
}

#menu li a{
    display: block;
    padding: 15px 0;
}

.button-menu a::before {/*permet d'ahouter du contenu généré via css*/
    display: none;
}
/*activée quand un élément reçoit le focus*/
.button-menu a:active{
    border-bottom: 3px solid var(--main-color);
}

.btn-text {
    display: none;   /* cache le texte */
}

.btn-icon {
    display: block;  /* affiche la loupe */
    font-size: 30px;
}

.search-button {
    padding: 0 15px; /* bouton plus compact */
}

.search-bar{
    width: 100%;
    display: flex;
}

.search-input{
    flex: 1;
    min-width: 0;
}

.search-button{
    flex: 0 0 auto;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.Filtres{
   display: block;
}

.div-filtres{
   display: grid;
   grid-template-columns: repeat(2, minmax(0,1fr));
   gap: 12px;
}

.button-filtres{
    width: 100%;
    font-size:13px ;
    padding: 8px 10px;
}

.populaires{
    width: 100vw;
    margin-left:calc(50% - 50vw);
    border-radius: 0;
    background-color: var(--main-bg-color);
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.hebergements{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border-radius: 0;
    background-color: white;
}

.hebergements-cards{
    grid-template-columns: 1fr;
}

.hebergements-and-populaires {/*met les élément en colonne puis inverse leurs position*/
    flex-direction: column;
    flex-direction: column-reverse;
}

.hebergements-and-populaires section{
    border-radius: 0;
}

.hebergements-and-populaires .hebergements{
    background-color: white;
}

.hebergements-and-populaires .populaires{
    background-color: var(--main-bg-color);
}

.Activités-cards{
    grid-template-columns: 1fr;
}

.card-Activités img{
    height: 141px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;      
}

.card-Activités{
    width: 100%;
}

.footer{
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.footer-container{
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    align-items: flex-start;
}

.footer-column{
    width: 100%;
    text-align: left;
}

}


html{
    scroll-behavior: smooth;
}
